<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
	<head>
		<title>Cliente</title>
	</head>
	<body>
		<div layout:fragment="title" th:text="${client.name}"></div>
		<div layout:fragment="content">
			<div class="content">
				<div class="col-md-12">
					<div class="card">
						<div class="header">
							<h4 class="title">Dados Pessoais</h4>
						</div>
						<div class="content">
							<table style="border-collapse: separate; border-spacing: 3px;">
								<tr>
									<td>E-mail:</td>
									<td th:text="${client.email}"></td>
								</tr>
								<tr>
									<td>CPF:</td>
									<td th:text="${client.cpf}"></td>
								</tr>
								<tr>
									<td>CEP:</td>
									<td th:text="${client.address.postalCode}"></td>
								</tr>
								<tr>
									<td>Logradouro:</td>
									<td th:text="${client.address.street}"></td>
								</tr>
								<tr>
									<td>Numero:</td>
									<td th:text="${client.address.number}"></td>
								</tr>
								<tr>
									<td>Complemento:&nbsp;</td>
									<td th:text="${client.address.complement}"></td>
								</tr>
								<tr>
									<td>Bairro:</td>
									<td th:text="${client.address.borough}"></td>
								</tr>
								<tr>
									<td>Cidade:</td>
									<td th:text="${client.address.city}"></td>
								</tr>
								<tr>
									<td>Estado (UF):</td>
									<td th:text="${client.address.state}"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="header">
							<h4 class="title">Serviços</h4>
						</div>
						<div class="content">
							<table class="table">
								<thead>
									<th>ID:</th>
									<th>Atendente:</th>
									<th>Data:</th>
									<th>Valor:</th>
								</thead>
								<tbody>
									<tr th:each="work : ${works}">
										<td th:text="${work.id}"></td>
										<td th:text="${work.attendant.name}"></td>
										<td th:attr="data-date-format=${work.requestedAt}" class="calendar-format"></td>
										<td th:attr="data-money-format=${work.sumItems}" class="money-format"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>