<!DOCTYPE html>
<html lang="pt-BR"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png" />
	<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png" sizes="192x192" />
	<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
	<link rel="manifest" href="/icons/manifest.json" />
	<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5" />
	<link rel="shortcut icon" href="/icons/favicon.ico" />
	<meta name="apple-mobile-web-app-title" content="PrintShop" />
	<meta name="application-name" content="PrintShop" />
	<meta name="msapplication-TileColor" content="#696969" />
	<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png" />
	<meta name="msapplication-config" content="/icons/browserconfig.xml" />
	<meta name="theme-color" content="#a8a8a8" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
	<title>Login</title>
</head>
<body>
	<div class="wrapper wrapper-full-page">
	    <div class="full-page login-page" data-color="black" data-image="/img/bg/full-screen-image-3.jpg">
	        <div class="content">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
	                        <form id="login" th:action="@{/login}" method="post">
	                            <div class="card">
	                                <div class="header text-center">Login</div>
	                                <div class="content">
	                                    <div class="form-group">
	                                        <label>Usuario</label>
	                                        <input id="username" name="username" type="text" class="form-control"
	                                        	data-rule-required="true" data-msg-required="Por favor insira o seu nome de usuario" />
	                                    </div>
	                                    <div class="form-group">
	                                        <label>Senha</label>
	                                        <input id="password" name="password" type="password" class="form-control"  />
	                                    </div>
	                                </div>
	                                <div class="footer text-center">
	                                    <button type="submit" class="btn btn-fill btn-default btn-wd">Entrar</button>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    	<footer class="footer footer-transparent">
	            <div class="container">
	                <p class="copyright pull-right">
	                    © 2016 PrintShop.cc
	                </p>
	            </div>
	        </footer>
	    <div class="full-page-background" style="background-image: url(/img/bg/full-screen-image-3.jpg)"></div></div>
	</div>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	<script type="text/javascript">$("#login").validate();</script>
</body>
</html>
